*{
	box-sizing: border-box;
}
html,body {
	margin: 0;
	padding: 0;
	
}

.header {
	background-color: #f3f3f3;
	padding: 20px;
	text-align: center;

	
}

.nav {
	overflow: hidden;
	background-color: #333;
	
}

.section {
		margin-left: 150px;
		text-align: center;
		
}

.nav a{
	float: left;
	padding: 14px 16px;
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
}

.nav a:hover {
	background: #ddd;
	color: black;
	
}
.navi {
	padding: 1px;
	background-color: #333;
	
}

form {
	padding: 12px 16px;
}

 .image-preview 
        {
            width: 100%;
            height:100%;
			max-height: 450pt;
			max-width: 450pt;
			margin-top: 15px;
			
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #cccccc;
			
			
        }
  .image-preview__image
        {
            display: none;
            width: 100%;
        }




.footer {
	

	background-color: #333;

}

/* puste, więc jest zbędne */
#status {
	
}

/* proszę nie używać selektorów do id, teraż jakby chciałem taki drugi element, to muszę skopijowaś klasę styli.  */
#color {
	width:100px;
	height:50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

/* tu zrobiłem klasę styli i jej użyłem, tą górną zostawiłem żeby zobaczyliście róznicę */
.color {
	width:100px;
	height:50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.palete-color{
	width: 50pt;
	height: 50pt;
}

#colorContainer{
    display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
    justify-content: center;
}

.article {
	text-align: center;
}


